.star-rating {
  margin-bottom: 2.8%; 

  span {
    font-size: 2rem;
    color: #ddd; /* color para estrellas vacías */
    cursor: pointer;
    
  }

  span.filled {
    color: gold; /* color para estrellas llenas */
  }
}