.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Hace que los elementos absolutos sean relativos a este contenedor */
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative; /* Establece la barra como referencia para ul */
}

.search-bar input {
  flex: 1;
  padding: 10px 15px;
  border: none;
  outline: none;
  font-size: 1em;
}

.search-bar button {
  background-color: rgb(157, 66, 66);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: rgb(107, 45, 45);
}

ul {
  position: absolute;
  z-index: 999; /* Asegura que la lista esté encima de otros elementos */
  width: 100%; /* Igual ancho que la barra */
  max-width: 500px; /* Limita el ancho máximo al mismo que la barra */
  top: calc(100% + 5px); /* Ajusta un pequeño margen debajo de la barra */
  left: 50%; /* Centro relativo al contenedor */
  transform: translateX(-50%); /* Ajuste para centrar completamente */
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: white; /* Asegura fondo blanco */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  opacity: 0;
  transform: translate(-50%, -10px); /* Mantiene el centrado y añade la animación */
}

ul.show {
  opacity: 1;
  transform: translate(-50%, 0);
}

li {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  font-size: 1em;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

li:last-child {
  border-bottom: none;
}

li:hover {
  background-color: #f9f9f9;
}

.no-results {
  position: absolute;
  top: calc(100% + 5px); /* Justo debajo también */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  text-align: center;
  color: #ec6363;
  font-style: italic;
  font-size: large;
  list-style: none;
  z-index: 999;
}

.link {
  text-decoration: none;
  color: inherit;
}
