.gallery {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr)); */
  gap: 0.5vw;
  padding: 20px;
}


@media (min-width: 1201px) {
  .gallery{
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1200px) {
  .gallery{
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1000px) {
  .gallery{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .gallery{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}

.bars-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px;

  
}

app-sort-books{
  width: 50%;
}

app-search-bar{
  width: 50%;
}